@using PA_PROYECTO_FINAL.Models;



@model Producto

<a href="">
    <img src="~/Assets/img/Details.png" class="img-fluid" alt="..."
         style="height: 300px; width: 600px; justify-content:center; position:relative">
</a>
<p>
    <button id="volverInicio" class="btn btn-outline-dark">Volver al Inicio</button>

    <script>
    document.getElementById("volverInicio").addEventListener("click", function() {
        window.location.href = "@Url.Action("Index", "Home")";
    });
    </script>
</p>

<hr />

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>



    </dl>


    <p>
        <button id="volverInicio" class="btn btn-outline-dark">Volver al Inicio</button>

        <script>
    document.getElementById("volverInicio").addEventListener("click", function() {
        window.location.href = "@Url.Action("Index", "Home")";
    });
        </script>
    </p>
</div>
